body {
  background-color: lightblue;
  font-family: "Times New Roman", "Times New Roman", Times, serif;
}
.card {
  max-width: 30%;
  border: solid 1px;
  margin: 20px;
  padding: 10px;
  background-color: antiquewhite;
}

.card img {
  width: 100%;
}
