body {
  background-color: rgb(221, 135, 23);
  font-family: "Times New Roman", "Times New Roman", Times, serif;
}

.moreInfoCard {
  max-width: 30%;
  margin: 20px;
  padding: 10px;
  background-color: rgb(221, 135, 23);
}

.card {
  max-width: 40%;
  max-height: 30;
  border: solid 1px;
  margin: 20px;
  padding: 10px;
  background-color: antiquewhite;
}
.main-title {
  text-align: center;
  max-width: 40%;
  border: solid 1px;
  margin: 20px;
  padding: 5px;
  background-color: antiquewhite;
}

.artist-name {
  text-align: center;
  max-width: 40%;
  padding: 5px;
}

#artItems {
  text-align: center;
  max-width: 40%;
  border: solid 1px;
  margin: 20px;
  padding: 5px;
  background-color: antiquewhite;
}

.card img {
  width: 100%;
}
